<%- include ("../../../partials/header.ejs") %>
<%- include ("../../../partials/navbar.ejs") %>
<%- include ("../../../partials/sidebar.ejs") %>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Tambah Jurnal <%= yayasan.fullname %></h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item"><a href="/jurnal">Jurnal</a></li>
              <li class="breadcrumb-item"><a href="/jurnal/<%= encodeURIComponent(yayasan.fullname.replace(/\s+/g, '-')) %>"><%= yayasan.fullname %></a></li>
              <li class="breadcrumb-item active">Tambah Jurnal</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Tambah Jurnal <%= yayasan.fullname %></h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form action="/jurnal/<%= fullname %>/tambah" method="post">
                  <div class="card-body">
                    <div class="form-group">
                      <label>Pilih Kode Chart of Account</label>
                       <select class="form-control select2" style="width: 100%;" name="noteSelect" id="noteSelect" onchange="isiFieldInput()" required>
                          <option selected disabled>Pilih Catatan</option>
                          <% notes.forEach(note => { %>
                              <option value="<%= JSON.stringify(note) %>"><%= note.description %></option>
                          <% }) %>
                      </select>
                    </div>
                    <div class="form-group">
                        <label for="date">Pilih Tanggal</label>
                        <input type="date" name="date" class="form-control" id="date" placeholder="Pilih tanggal" required>
                      </div>
                    <div class="form-group">
                      <label for="description">Masukkan Keterangan</label>
                      <input type="text" name="description" class="form-control" id="description" placeholder="Masukkan keterangan" required>
                    </div>
                    <div class="form-group">
                      <label for="amount">Masukkan Jumlah</label>
                      <input type="number" name="amount" class="form-control" id="amount" placeholder="Masukkan jumlah" required>
                    </div>
                    <div class="form-group">
                      <label for="debit">Masukkan Debit</label>
                      <input type="number" name="debit" class="form-control" id="debit" placeholder="Masukkan debit">
                    </div>
                    <div class="form-group">
                      <label for="kredit">Masukkan Kredit</label>
                      <input type="number" name="kredit" class="form-control" id="kredit" placeholder="Masukkan kredit">
                    </div>
                    <div class="form-group">
                        <label>Pilih Tipe (Debit / Kredit)</label>
                         <select class="form-control select2" style="width: 100%;" name="typeAmount" id="typeAmount">
                            <option selected disabled>Pilih Tipe</option>
                            <option value="Debit">Debit</option>
                            <option value="Kredit">Kredit</option>
                        </select>
                    </div>
                    <div class="form-group">
                      <label>Pilih Kode Chart of Account</label>
                       <select class="form-control select2" style="width: 100%;" name="id_coa" id="id_coa" required>
                          <option selected disabled>Pilih Kode</option>
                          <% code.forEach(item => { %>
                              <option value="<%= item.id %>"><%= item.name %> (<span class="badge badge-success"><%= item.position%>)</span></option>
                              <!-- <option value="<%#= item.id %>"><%#= item.name %></option> -->
                          <% }) %>
                      </select>
                    </div>
                  </div>
                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Simpan</button>
                  </div>
                </form>
              </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

  <script>
    // script.js
    function isiFieldInput() {
      let noteSelect = document.getElementById('noteSelect');
      let noteValue = JSON.parse(noteSelect.value);
      let descriptionField = document.getElementById('description');
      let amountField = document.getElementById('amount');
      let dateField = document.getElementById('date');

      descriptionField.value = noteValue.description;
      amountField.value = noteValue.amount;
      dateField.value = noteValue.date.slice(0,10);
      
      //let selectDesc = JSON.parse(selectedNoteId)

      console.log("selectedNoteId => ", noteValue);
      console.log("typeAmount => ", typeAmountField.value);
      //console.log("selectDesc => ", selectDesc);
      //console.log("desc => ", selectDesc.description);
      
      // let selectedNote = notes.find((note) => note.id == selectedNoteId);
      
      // console.log(descriptionField.value);
      // console.log(descriptionField.value);

      // Setel nilai deskripsi dan amount berdasarkan pilihan note
      //if (selectedNote) {
        //descriptionField.value = selectedNote.description;
        //amountField.value = selectedNote.amount;
      //}
    }

  </script>
<%- include ("../../../partials/footer.ejs") %>
<%- include ("../../../partials/js.ejs") %>