<table id="example2" class="table table-bordered table-hover table-catatan">
  <thead>
    <tr>
      <th>No.</th>
      <th>Tanggal</th>
      <th>Keterangan</th>
      <th>Jumlah</th>
      <th>Tipe</th>
      <th>Bank</th>
    </tr>
  </thead>
  <tbody>
    <% for(let i = 0; i < catatan.length; i++) { %>
    <tr>
      <td><%= i + 1 %></td>
      <td>
        <%= catatan[i].date.toLocaleDateString('id-ID', { weekday: 'long', day: 'numeric', month: 'long', year:
        'numeric' }) %>
      </td>
      <td><%= catatan[i].description %></td>
      <td>Rp.<%= catatan[i].amount.toLocaleString() %></td>
      <td><%= catatan[i].type %></td>
      <td><%= catatan[i].bank ?? '-' %></td>
    </tr>
    <% } %>
  </tbody>
</table>
