<!-- Header -->
<%- include('../../../partials/header.ejs') %>
<!-- Navbar -->
<%- include('../../../partials/navbar.ejs') %>
<!-- Sidebar -->
<%- include('../../../partials/sidebar.ejs') %>

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <%- include ("../../../partials/message.ejs") %>
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Jurnal <%= yayasan.fullname %></h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
            <li class="breadcrumb-item"><a href="/jurnal">Jurnal</a></li>
            <li class="breadcrumb-item active"><%= yayasan.fullname %></li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <!-- <div class="card-header">
              <h3 class="card-title">
                <a href="/jurnal" class="btn btn-primary">
                  <i class="nav-icon far fa-plus-square"></i>
                  Tambah
                </a>
              </h3>
            </div> -->
            <!-- /.card-header -->
            <div class="card-body">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link active"
                    id="home-tab"
                    data-toggle="tab"
                    data-target="#home"
                    type="button"
                    role="tab"
                    aria-controls="home"
                    aria-selected="true"
                  >
                    Catatan
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="profile-tab"
                    data-toggle="tab"
                    data-target="#profile"
                    type="button"
                    role="tab"
                    aria-controls="profile"
                    aria-selected="false"
                  >
                    Jurnal
                  </button>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active pt-3" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <%- include ("./table_catatan.ejs") %>
                </div>
                <div class="tab-pane fade pt-3" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                  <div class="d-flex justify-content-between">
                    <h3 class="my-auto">
                      <a
                        href="/jurnal/<%= encodeURIComponent(yayasan.fullname.replace(/\s+/g, '-')) %>/tambah"
                        class="btn btn-primary"
                      >
                        <i class="nav-icon far fa-plus-square"></i>
                        Tambah
                      </a>
                    </h3>
                    <form class="d-flex my-auto" action="/jurnal/<%= yayasan.fullname %>" method="get">
                      <div class="form-group my-auto">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="far fa-calendar-alt"></i>
                            </span>
                          </div>
                          <input type="text" class="form-control float-right" id="reservation" />
                        </div>
                      </div>
                      <div class="form-group my-auto ml-2">
                        <button type="submit" class="btn btn-sm btn-primary">apply</button>
                      </div>
                    </form>
                    <div class=""></div>
                  </div>
                  <%- include ("./table_jurnal.ejs") %>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

<!-- Delete Validation  -->
<%#- include("./validation.ejs") %>
<!--   Footer   -->
<%- include('../../../partials/footer.ejs') %>
<!--   Core JS Files   -->
<%- include('../../../partials/js.ejs') %>

<script>
  $('.table-coa').on('click', '.button-delete-catatan', function () {
    let id = $(this).data('id');
    $('#delete-modal-catatan').modal('show');
    $('.id').val(id);
  });

  // Mendapatkan elemen input
  const reservationInput = document.getElementById('reservation');

  // Menambahkan event listener untuk event keypress
  reservationInput.addEventListener('keypress', function (event) {
    // Memeriksa apakah tombol yang ditekan adalah tombol Enter
    if (event.key === 'Enter') {
      // Mendapatkan nilai dari elemen input
      const reservationValue = reservationInput.value;

      const [startDate, endDate] = reservationValue.split(' - ');

      // Menampilkan nilai tersebut di console browser
      console.log(reservationValue);
      console.log(startDate);
      console.log(endDate);
    }
  });
</script>
