<%- include ("../../partials/header.ejs") %>
<%- include ("../../partials/navbar.ejs") %>
<%- include ("../../partials/sidebar.ejs") %>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Tambah Catatan</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item"><a href="/catatan">Catatan</a></li>
              <li class="breadcrumb-item active">Tambah Catatan</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Form Tambah Catatan</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form action="/catatan/tambah" method="post">
                  <div class="card-body">
                    <div class="form-group">
                      <label for="description">Masukkan Keterangan</label>
                      <input type="text" name="description" class="form-control" id="description" placeholder="Masukkan keterangan" required>
                    </div>
                    <div class="form-group">
                      <label for="amount">Masukkan Jumlah</label>
                      <input type="number" name="amount" class="form-control" id="amount" placeholder="Masukkan jumlah" required>
                    </div>
                    <div class="form-group">
                      <label>Pilih Tipe (Cash / Transfer)</label>
                       <select class="form-control select2" style="width: 100%;" name="type" id="type">
                          <option value="Cash">Cash</option>
                          <option value="Transfer">Transfer</option>
                      </select>
                    </div>
                    <div class="form-group" id="form_bank">
                      <label>Pilih Bank <span class="text-danger"><sup>*Jika Transfer</sup></span></label>
                       <select class="form-control select2" style="width: 100%;" name="bank" id="bank">
                          <option selected disabled>Pilih Bank</option>
                          <option value="BNI">BNI</option>
                          <option value="BRI">BRI</option>
                          <option value="Mandiri">Mandiri</option>
                          <option value="BTN">BTN</option>
                          <option value="BCA">BCA</option>
                          <option value="Danamon">Danamon</option>
                          <option value="BSI">BSI</option>
                          <option value="CIMB Niaga">CIMB Niaga</option>
                          <option value="Maybank">Maybank</option>
                          <option value="OCBC NISP">OCBC NISP</option>
                          <option value="Muamalat">Muamalat</option>
                          <option value="Mega">Mega</option>
                          <option value="BTPN">BTPN</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="date">Pilih Tanggal</label>
                      <input type="date" name="date" class="form-control" id="date" placeholder="Pilih tanggal" required>
                    </div>
                  </div>
                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Simpan</button>
                  </div>
                </form>
              </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  <script>
      $(document).ready(function () {
          let typeSelect = $('#type');
          let formBank = $('#form_bank');

          // Sembunyikan form bank saat halaman dimuat
          formBank.hide();

          // Tambahkan event listener untuk perubahan pada select
          typeSelect.change(function () {
              if (typeSelect.val() === 'Transfer') {
                  // Jika dipilih Transfer, tampilkan form bank
                  formBank.show();
              } else {
                  // Jika dipilih Cash, sembunyikan form bank
                  formBank.hide();
              }
          });
      });
  </script>


<%- include ("../../partials/footer.ejs") %>
<%- include ("../../partials/js.ejs") %>