<!-- Header -->
<%- include('../../partials/header.ejs') %>
<!-- Navbar -->
<%- include('../../partials/navbar.ejs') %>
<!-- Sidebar -->
<%- include('../../partials/sidebar.ejs') %>

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <%- include ("../../partials/message.ejs") %>
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Jurnal</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
            <li class="breadcrumb-item active">Jurnal</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <!-- <div class="card-header">
              <h3 class="card-title">
                <a href="/jurnal" class="btn btn-primary">
                  <i class="nav-icon far fa-plus-square"></i>
                  Tambah
                </a>
              </h3>
            </div> -->
            <!-- /.card-header -->
            <div class="card-body"><%#- include ("./table_jurnal.ejs") %></div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                Pilih Yayasan untuk masuk ke jurnal
                <!-- <a href="/jurnal" class="btn btn-primary">
                  <i class="nav-icon far fa-plus-square"></i>
                  Tambah
                </a> -->
              </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="row">
                <% for( let i = 0; i < yayasan.length; i++ ) { %>
                <div class="col-6">
                  <a href="/jurnal/<%= encodeURIComponent(yayasan[i].fullname.replace(/\s+/g, '-')) %>">
                    <div class="card bg-info">
                      <div class="card-body text-center">
                        <h5><%= yayasan[i].fullname %></h5>
                      </div>
                    </div>
                  </a>
                </div>
                <% } %>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

<!-- Delete Validation  -->
<%#- include("./validation.ejs") %>
<!--   Footer   -->
<%- include('../../partials/footer.ejs') %>
<!--   Core JS Files   -->
<%- include('../../partials/js.ejs') %>

<script>
  $('.table-coa').on('click', '.button-delete-catatan', function () {
    let id = $(this).data('id');
    $('#delete-modal-catatan').modal('show');
    $('.id').val(id);
  });
</script>
